@import url('https://fonts.googleapis.com/css2?family=Koulen');

body {
    margin: 0;
    background-color:#141C44;
}

.b1 {
    text-align: right;
    background: white;
}

h1 {
    font-size: 370%;
    font-weight: normal;
    text-align: center;
    margin-top: 4%;
    font-family: 'Koulen';
    color: #9971EF;

}

img {
    border-radius: 40%;
    margin-left: 15%;
    height: 50%;
    width: 70%;
}

h2 {
    font-size: 370%;
    font-weight: normal;
    text-align: center;
    margin-top: 4%;
    font-family: 'Koulen';
    color: #4BA43C
}

button {
    padding: 16px;
    font-size: large;
    background: #4BA43C;
    color: white;
    margin-top: -100%;
    margin-left: 27%;
    cursor: pointer;
    border: none;
    border-radius: 30px;
}

button:hover{
    background: #3f8a32;
}

a {
    text-decoration: none;
}