@import url('https://fonts.googleapis.com/css2?family=Koulen');

body {
    margin: 0;
    background-color:#141C44;
}
.b1 {
    text-align: right;
    background: white;
}
h1 {
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    font-family: 'Koulen';
    color: #9971EF;

}

img {
    border-radius: 100%;
    width: 20%;
    height: 150%;
    margin-left: 40%;
}

h2 {
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    font-family: 'Koulen';
    color: #4BA43C
}